<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Kommerse Magazine DYNAMIC</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Adobe Font -->
        <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
        <!-- Material Symbols for Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="/catalog"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
                <li><a href="/logout"><div class="nav-link-wrapper">LOG OUT<span class="material-symbols-outlined">logout</span></div></a></li>
            </ul>
        </header>

        <a href="#"><h2 id="catalog-heading">PRODUCT CATALOG</h2></a>
    
        <section class="product-catalog">

            <% products.forEach((product)=> { %>
                <article class="product-card">
                    <% if (product.product_image){ %>
                        <img class="product-image" src="/product-images/<%=product.product_image%>"/>
                    <% } else { %>
                        <img class="product-image" src="/product-images/jetpack.jpeg"/>
                    <% } %>
                    <p class = "old-product-price">WAS: $<%= 3.53* parseInt((product.product_price).toString().replace(/,/g, "")) %></p>
                    <p class = "product-price"> NOW: $<%=product.product_price%></p>
                    <div class="product-text">
                        <h3 class= "product-title" class="product-text"><%= product.product_name %></h3>
                        <p class = "product-description" class="product-text"><%= product.product_description %></p>
                        <a href="product?id=<%=product.ID%>"><button class="product-buy-button" type="button">BUY NOW!</button></a>
                    </div>
                </article>
            <% }) %>
        </section>
    </body>
</html>