
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout Page</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/checkoutStyle.css">
        <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine</a>
            <ul>
                <li><a href="index"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="/catalog"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
                <li><a href="/logout"><div class="nav-link-wrapper">LOG OUT<span class="material-symbols-outlined">logout</span></div></a></li>
            </ul>
        </header>
        <main>
            <h2 id="review-order-title">REVIEW ORDER</h2>
            <section class="product-list">
                <% productsInCart.forEach((product)=> { %>
                    <article class="product-card">
                        <div id="img-and-quantity">
                            <div>
                                <% if (product.product_image){ %>
                                    <img class="product-image" src="/product-images/<%=product.product_image%>"/>
                                <% } else { %>
                                    <img class="product-image" src="/product-images/jetpack.jpeg"/>
                                <% } %>
                            </div>
                            <div>
                                <p id="quantity"><a href="cart/decrement?product_id=<%=product.ID%>"><span class="material-symbols-outlined">remove_circle</span></a> <%= product.quantity %> <a href="cart/increment?product_id=<%=product.ID%>"><span class="material-symbols-outlined">add_circle</span></a></p>
                            </div>
                        </div>
                        <h3><%= product.product_name %> ($<%=product.product_price%>)</h3>
                        <a href="cart/delete?product_id=<%=product.ID%>"><span class="material-symbols-outlined">cancel</span></a>
                        </div>
                    </article>
                <% }) %>
                <a href="/payment" id="continue-link">CHECKOUT > </a>
            </section>
        </main>
    </body>
</html>