
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout Page</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/checkoutStyle.css">
        <link rel="stylesheet" href="https://use.typekit.net/zpe5apk.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <a href="index.html" class="logo">Kommerse Magazine CHECKOUT EJS</a>
            <ul>
                <li><a href="index"><div class="nav-link-wrapper">HOME<span class="material-symbols-outlined">home</span></div></a></li>
                <li><a href="/catalog"><div class="nav-link-wrapper">STORE<span class="material-symbols-outlined">storefront</span></div></a></li>
                <li><a href="/dashboard"><div class="nav-link-wrapper">ACCOUNT<span class="material-symbols-outlined">account_circle</span></div></a></li>
                <li><a href="/checkout"><div class="nav-link-wrapper">CART<span class="material-symbols-outlined">shopping_cart</span></div></a></li>
                <li><a href="login.html"><div class="nav-link-wrapper">LOGIN<span class="material-symbols-outlined">login</span></div></a></li>
                <li><a href="signup.html"><div class="nav-link-wrapper">SIGN UP<span class="material-symbols-outlined">person_add</span></div></a></li>
            </ul>
        </header>
        <main>
            <section class="product-catalog">
                <% productsInCart.forEach((product)=> { %>
                    <article class="product-card">
                        <% if (product.product_image){ %>
                            <img class="product-image" src="/product-images/<%=product.product_image%>"/>
                        <% } else { %>
                            <img class="product-image" src="/product-images/jetpack.jpeg"/>
                        <% } %>
                        <p class = "old-product-price">WAS: $<%= 3.53* parseInt((product.product_price).toString().replace(/,/g, "")) %></p>
                        <p class = "product-price"> NOW: $<%=product.product_price%></p>
                        <div class="product-text">
                            <h3 class= "product-title" class="product-text"><%= product.product_name %></h3>
                            <p class = "product-description" class="product-text"><%= product.product_description %></p>
                            <!-- <a href="product?id=<%=product.ID%>"><button class="product-buy-button" type="button">BUY NOW!</button></a> -->
                        </div>
                    </article>
                <% }) %>
            </section>
            <div class="firstDiv">
            <section class="product">
                <div class="description">
                    <h3>Teleportal Mobile</h3>
                    <p>Equipt with astoundingly crisp processing and 6 high resolution cameras, the Teleportal Mobile ensures you always stay connected.</p>
                </div>
                <img src="./product-images/phone.jpg" alt="Phone Image">
            </section>

            <section class="product">
                <div class="description">
                    <h3>80-Y Laptop</h3>
                    <p>With the 80-Y's best-in-class speed, you will be sure to lap your competition!</p>
                </div>
                <img src="./product-images/laptop.jpg" alt="Laptop Image">
            </section>

            <section class="product">
                <div class="description">
                    <h3>Lunar Locket</h3>
                    <p>The Lunar Locket keeps your data safe and charges it's holographic display efficently using nothing but lunar radiation.</p>
                </div>
                <img src="./product-images/locket.jpg" alt="Lunar Locket Image">
            </section>
        </div>

            <div class="secondDiv">
            <section class="payment-info">
                <h3>Payment Details</h3>
                <p><label for="card-number">Card Number:</label><input type="text" id="card-number"></p>
                <p><label for="card-name"> Name on the Card:</label><input type="text" id="card-name"></p>
                <p><label for="card-expiry">Expiry Date:</label><input type="text" id="card-expiry" placeholder="MM/YY"></p>
                <p><label for="card-cvv">CVV:</label><input type="text" id="card-cvv"></p>
            </section>

            <aside>
                <h3>Summary</h3>
                <p>Teleportal Mobile: $650</p>
                <p>80-Y Laptop: $999</p>
                <p>Lunar Locket: $160</p>
                <p>Shipping: $50</p>
                <input type="text" placeholder="Promo Code">
                <button>Submit</button>
                <p>Discount: -$915</p>
                <p>Tax: $180</p>
                <h2>Total: $1164</h2>
                <button style="margin-left: 130px; padding: 10px 20px;">Pay</button>
            </aside>
        </div>
        </main>
    </body>
</html>